{% extends 'base.html' %}

{% block content %}
<head>
    <style>
        .month{
        text-align: center;
        }
        .mon{
        padding-left:15px;
        }
        .tue{
        padding-left:15px;
        }
        .wed{
        padding-left:15px;
        }
        .thu{
        padding-left:15px;
        }
        .fri{
        padding-left:15px;
        }
        .sat{
        padding-left:15px;
        }
        .sun{
        padding-left:15px;
        }
    </style>
</head>
<body>
    <div>
        <center>
            {{ cal|safe }}
        </center>
    </div>

    <div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            Button</button>
    </div>
</body>


{% endblock content %}

