@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");

.grand-title{
  font-family: 'Josefin Sans', sans-serif;
}

#grand-pic {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.img-event {
  top: 50%;
  left: 50%;
  height: 250px;
  width: 100px;
  perspective: 600px;
}

.card {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  /* transform: translate(-50%, -50%); */
  transform-style: preserve-3d;
  perspective: 600px;
  transition: .5s;
}

.card:hover .card-front {
  transform: rotateX(-180deg)
}

.card:hover .card-back {
  transform: rotateX(0deg);
}


.card-front {
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: .3s;
  border-radius: 10px;
}
    

.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #332e2e;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .3s;
    color: #ffffff;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
}

.card-back h2 {
  margin: 35% auto 2% auto;
  font-size: 24px;
}
      
.card-back h2 span {
  font-size: 16px;
  
}

/* figcaption */
.card figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;
  color: white;
  background: hsla(150, 25%, 10%, .5);
}

.modal {
    text-align: center;
}

.modal::before {
    content: "";      
    display: inline-block;
    height: 100%;    
    margin-right: -4px;
    vertical-align: middle;
    text-align: center;
}

.modal-dialog { 
    display: inline-block;  
    text-align: left;   
    vertical-align: middle;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
}
.alert {
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  /* position: relative; */
  border-radius: 5px;
  position: fixed;
  top: 5px; 
  left:2%;
  text-align: center;
}
.close {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  right: 15px;
  top: 25px;
  text-align: center;
  font-size: 1.6em;
  cursor: pointer;
}
.success-alert {
  background-color: #a8f0c6;
  border-left: 5px solid #178344;
}
.success-alert .close {
  border-color: #178344;
  color: #178344;
}
.danger-alert {
  background-color: #f7a7a3;
  border-left: 5px solid #8f130c;
}
.danger-alert .close {
  border-color: #8f130c;
  color: #8f130c;
}