{% extends 'base.html' %}

{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/faq.js' %}"> </script>

<link rel="stylesheet" href="{% static 'css/faq.css' %}">

<div class="font-sans container">
  <div class="w-full md:w-3/5 mx-auto p-8">
    <div class="flex  my-4 font-bold text-xl" >
      <h3>FAQ</h3>
    </div>

    <div class="shadow-md" id="faq-element">
    </div>
    <div class="row text-center d-flex align-items-stretch" id="review-card">
      </div>
      <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 mb-4">
        <p class="mb-0 px-2">Wanna share your experience to other? please share with us!</p>
        <button class="text-center bg-blue-500 hover:bg-blue-700 text-white font-bold mt-5 py-2 px-4 rounded">
          <a href="/faq-review/review/" type="button">
            Add Review
          </a>
        </button>
      </div>
    </div>
</div>
{% endblock content %}