{% extends 'base.html' %}
{% block content %}
{% load static %}

<script>
    $(document).ready(function(){
        $.getJSON("{% url 'todolist:show_json_review' %}", function(data){
            $.each(data, function(index,value){
              console.log(value)
                $("#review-card").append( 
                    `<div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">${value.fields.title}</h5>
                            <p class="card-text">${value.fields.review}</p>
                        </div>
                    </div>`
                )
            })
        })

      $("#form-review").on("submit",function(e) {
        e.preventDefault() 
        let title = $("#title").val();
        let review = $("#review").val();
        $.ajax({
          method: "POST",
          url: "/faq_review/add/",
          data: {"title":title, "review": review},
        }).done(function(resp) {
          console.log(resp)
          $("#todolist").append(
            `<div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">${resp.title}</h5>
                    <p class="card-text">${resp.review}</p>
                </div>
            </div>`
          )
          $("#modal-review").modal("toggle")
        });
      })
    })
</script>

<div class="d-flex flex-wrap justify-content-center gap-3" id="review-card">
</div>

<div class="modal fade" id="modal-review" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Create review</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form-ajax" action = "/todolist/add/">
            {% csrf_token %}
            <div class="mb-3">
              <label class="col-form-label">Title:</label>
              {{form.title}}
            </div>
            <div class="mb-3">
              <label class="col-form-label">Review:</label>
              {{form.review}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" value="submit" class="btn btn-primary" id="btn_submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}