{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  const addCard = area => {
    $(".areaCard").append(`


    <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="#">
            <img class="rounded-t-lg" src="${ area.fields.image }" alt="area image">
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">${ area.fields.title }</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700">${ area.fields.summary }</p>
            <a href="detailArea/${ area.pk }/" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Detail
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>

              <div class="flex mt-10 w-fit items-center space-x-3 py-3 px-6 bg-indigo-600 text-white rounded-lg  transition-all duration-400 transform hover:scale-105 cursor-pointer hover:shadow-lg">
                <button class="text-lg text-md" onclick=deleteArea(${area.pk})>Delete</button>
              </div>

        </div>
    </div>`);
  }

  // get data json
  const getData = () => {
    $.ajax({
      url: 'json/',
      type: "GET",
      dataType: "json",
      success: function (data) {
        data.forEach(area => {
          addCard(area);
        });
      },
      error: function (data) {
        console.log(data);
      }
    });
  }

  // get data when page loaded
  $(document).ready(function () {
    getData();
  });


  // function handler for add area asynchronously
  var addArea = function() {
    // prevent default action
    event.preventDefault();
    var formData = $("#add-area").serialize();
    if ($("#areaTitle").val() && $("areaImage") && $("#areaSummary").val() && $('#areaDescription')) {
      $.ajax({
        type: "POST",
        url: "addArea/",
        data: formData,
        dataType: "json",
        encode: true,
      }).done(function (data) {
        addCard(data);
        $("#add-area").trigger("reset");
        console.log("testsetsa");
      })
    }
  }

  // function for delete all province card
  const deleteAllCard = () => {
    $(".areaCard").empty();
  }

  var deleteArea = function(id) {
    $.ajax({
      type: "DELETE",
      headers: { "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value },
      url: "deleteArea/<int:area_pk>/".replace('<int:area_pk>', id),
      data: {
        id: id
      },
      dataType: "json",
      encode: true,
    }).done(function (data) {
      $(`#area-${id}`).remove();
      deleteAllCard();
      getData();
      console.log("test");
    })
  }
</script>
{% endblock meta %}

{% block content %}
<div class="px-4">
    <div class="
          flex
          p-3
          items-center
          bg-white
          mx-auto
          
          rounded-lg
          mt-16
        ">
        <div>
            <h1 class="text-2xl font-bold text-gray-800">{{ province.header }}</h1>
            <img src="{{ province.image }}" alt="province image" class="w-full my-8">
            <p class="mt-16 text-gray-600">{{ province.summary }}</p>
        </div>
    </div>
    <hr class="my-8 h-px bg-gray-200 border-0">
    <h2 class="lg:text-3xl mt-8 font-bold leading-tight text-xl">Explore {{ province }} by Area / city</h2>
    
    <!-- Modal toggle -->
    <!-- {% if user.is_superuser  -->
      <div class="flex mt-10 w-fit items-center space-x-3 py-3 px-6 bg-indigo-600 text-white rounded-lg  transition-all duration-400 transform hover:scale-105 cursor-pointer hover:shadow-lg">
        <button class="text-lg text-md" data-modal-toggle="add-modal">Add Area</button>
      </div>
    <!-- {% endif  -->
</div>

<!-- Main modal -->
<div id="add-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="add-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="py-6 px-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900">Sign in to our platform</h3>
                <form id="add-area" action="" method="POST" enctype="multipart/form-data" class="space-y-6">
                    {% csrf_token %}
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
                        {{ areaForm.title }}
                    </div>
                    <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Image</label>
                        {{ areaForm.image }}
                    </div>
                    <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Summary</label>
                        {{ areaForm.summary }}
                    </div>
                    <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                        {{ areaForm.description }}
                    </div>
                    <button onclick="addArea()" data-modal-toggle="add-modal" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add</button>
                </form>
            </div>
        </div>
    </div>
</div> 


<div class="">
  <div class="areaCard mt-8 mx-8 grid grid-cols-4 gap-4">
  </div>
</div>
<div class="flex justify-center">
  <a href="/things-to-do/{{ province.pk }}" type="button" class="mt-8 text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 hover:bg-[#FF9119]/80">Things to do in {{ province }}!</a>
</div>
  
{% endblock content %}