{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{ province }} - Things to Do</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <link href="https://cdn.jsdelivr.[net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script> -->
<style>
    .modal {
        text-align: center;
    }

    .modal::before {
        content: "";      
        display: inline-block;
        height: 100%;    
        margin-right: -4px;
        vertical-align: middle;
        text-align: center;
    }

    .modal-dialog { 
        display: inline-block;  
        text-align: left;   
        vertical-align: middle;
    }
</style>
{% endblock meta %}

{% block content %}
<!-- Picture -->
<div class="relative mt-30">
    <img src="https://picsum.photos/600/400/?random" class="h-80 md:h-100 inset-0 w-full top-1/2 left-1/2" alt="{{ province }}">
    <div class="relative mt-30 top-1/2 px-4 py-2 opacity-100">
        <h1 class="absolute text-5xl text-center text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">Things to do<br>in {{ province }}</h1>
    </div>   
</div>

<!-- Breadcrumb -->
<nav class="flex mt-2 px-5" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a href="/" class="inline-flex items-center text-sm font-medium text-black-700 hover:text-black-900 dark:text-black-400 dark:hover:text-white">
          <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
          Home
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-black-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <a href="/things-to-do/" class="ml-1 text-sm font-medium text-black-700 hover:text-black-900 md:ml-2 dark:text-black-400 dark:hover:text-white">Things to do</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="w-6 h-6 text-black-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <span class="ml-1 text-sm font-medium text-black-500 md:ml-2 dark:text-black-400">{{ province }}</span>
        </div>
      </li>
    </ol>
  </nav>
  <!-- <div style="text-align: center;">
    <h1 class="absolute text-5xl text-center text-white">Things to do<br>in {{ province }}</h1>
  </div> -->

<div class="px-4">
  <div class="
  justify-center
  items-center
  bg-white
  mx-auto
  max-w-2xl
  rounded-lg
  my-16
  p-16
  ">
    <div style="margin-bottom:30px;">
      <h1 class="text-2xl font-medium">Foods</h1>
      {% if user.is_superuser %}
          <button class="flex mt-10 w-fit items-center space-x-3 py-3 px-6 mx-30 bg-indigo-600 text-white rounded-lg  transition-all duration-400 transform hover:scale-105 cursor-pointer hover:shadow-lg" id="modalfood-open" type="button" data-modal-toggle="modalfood">
            Add Food
          </button>
      {% endif %}

      <div id="food-card" class="flex flex-wrap -mx-4 lg:-mx-4"></div>
    </div>
  </div>
  
  <!-- Main modal -->
  <div id="modalfood" tabindex="-1" aria-hidden="true" class="modal hidden fixed bg-gray-600 bg-opacity-50 overflow-y-auto overflow-x-hidden top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
      <div class="modal-dialog relative p-4 w-full max-w-md h-full md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow">
              <button id="modalfood-close" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="modalfood">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="sr-only">Close modal</span>
              </button>
              <div class="py-6 px-6 lg:px-8">
                  <h3 class="mb-4 text-xl font-medium text-gray-900">Add {{ province }}'s Food</h3>
                  <form class="space-y-6" id="add-food" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="hidden" name="prov_id" id="prov_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="{{ prov_id }}" required>
                      <div>
                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                          <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Name" required>
                      </div>
                      <div>
                          <label for="image" class="block mb-2 text-sm font-medium text-gray-900">Image URL</label>
                          <input type="text" name="image" id="image" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Image URL" required>
                      </div>
                      <div>
                          <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                          <textarea name="description" id="description" cols="30" rows="5" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Description" required></textarea>
                          <!-- <input type="text" name="description" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Description" required> -->
                      </div>
                      <button type="button" onclick="addFood()" class="bg-indigo-600 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add Food</button>
                  </form>
              </div>
          </div>
      </div>
  </div> 
</div>


<div class="px-4">
  <div class="
  justify-center
  items-center
  bg-white
  mx-auto
  max-w-2xl
  rounded-lg
  my-16
  p-16
  ">
    <div style="margin-bottom:30px;">
      <h1 class="text-2xl font-medium">Events</h1>
      {% if user.is_superuser %}
        <button class="flex mt-10 w-fit items-center space-x-3 py-3 px-6 mx-30 bg-indigo-600 text-white rounded-lg  transition-all duration-400 transform hover:scale-105 cursor-pointer hover:shadow-lg" id="modalevent-open" type="button" data-modal-toggle="modalevent">
          Add Event
        </button>
      {% endif %}
      <div id="event-card" class="flex flex-wrap -mx-4 lg:-mx-4"></div>
    </div>

    <!-- Main modal -->
    <div id="modalevent" tabindex="-1" aria-hidden="true" class="modal hidden fixed bg-gray-600 bg-opacity-50 overflow-y-auto overflow-x-hidden top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
      <div class="modal-dialog relative p-4 w-full max-w-md h-full md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow">
              <button id="modalevent-close" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="modalevent">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="sr-only">Close modal</span>
              </button>
              <div class="py-6 px-6 lg:px-8">
                  <h3 class="mb-4 text-xl font-medium text-gray-900">Add {{ province }}'s Event</h3>
                  <form class="space-y-6" id="add-event" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="hidden" name="prov_id" id="prov_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="{{ prov_id }}" required>
                      <div>
                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                          <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Name" required>
                      </div>
                      <div>
                        <label for="date" class="block mb-2 text-sm font-medium text-gray-900">Date</label>
                        <input type="date" name="date" id="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Date" required>
                      </div>
                      <div>
                          <label for="image" class="block mb-2 text-sm font-medium text-gray-900">Image URL</label>
                          <input type="text" name="image" id="image" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Image URL" required>
                      </div>
                      <div>
                          <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                          <textarea name="description" id="description" cols="30" rows="5" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Description" required></textarea>
                          <!-- <input type="text" name="description" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Description" required> -->
                      </div>
                      <button type="button" onclick="addEvent()" class="bg-indigo-600 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add Event</button>
                  </form>
              </div>
          </div>
      </div>
    </div> 
  </div>
</div>
<script>
  var prov_id = "{{ prov_id }}";
  var role = "{{ role }}";
  // get json event data
  $.getJSON( `/things-to-do/json/food/${prov_id}/`, function( data ) {
      data.forEach(food => {
          addFoodCard(food);
      });
  });
  // get json event data
  $.getJSON( `/things-to-do/json/event/${prov_id}/`, function( data ) {
      data.forEach(event => {
          addEventCard(event);
      });
  });

  const addFoodCard = function(food) {
  $("#food-card").append(
      `<!-- Column -->
      <div id="food-${food.pk}" class="my-4 px-1 w-full md:w-1/2 md:my-1 lg:my-4 lg:px-4 lg:w-1/3">
          <!-- Article -->
          <article class="overflow-hidden rounded-lg shadow-lg object-cover ease-in-out duration-500 hover:scale-105">
              <a>
                  <!-- <img alt="${food.fields.name}" class="block h-auto w-full" src="${food.fields.image}"> -->
                  <img alt="Placeholder" class="block h-auto w-full" height=100 src="${food.fields.image}">
              </a>
              <header id="foodbtn-${food.pk}" class="items-center justify-between bg-white/75 leading-tight p-2 md:p-4">
                  <h1 class="text-lg text-center">
                      ${food.fields.name}
                  </h1>
              </header>
          </article>
          <!-- END Article -->
      </div>
      <!-- END Column -->`
      );
    if (role == 'admin') {
      $(`#foodbtn-${food.pk}`).append(
              `<div class="flex my-3 w-fit items-center m-auto space-x-3 mx-30 bg-indigo-600 px-3 py-1 text-white rounded-md cursor-pointer hover:shadow-lg">
                <button onclick="updateFood(${food.pk})" type="button">
                  Update
                </button>
              </div>
              <div class="flex my-3 w-fit items-center m-auto space-x-3 mx-30 bg-indigo-600 px-3 py-1 text-white rounded-md cursor-pointer hover:shadow-lg">
                <button onclick="deleteFood(${food.pk})" type="button">
                  Delete
                </button>
              </div>`);
    }
  }

  const addEventCard = function(event) {
  $("#event-card").append(
      `<!-- Column -->
      <div id="event-${event.pk}" class="my-4 px-1 w-full md:w-1/2 md:my-1 lg:my-4 lg:px-4 lg:w-1/3">
          <!-- Article -->
          <article class="overflow-hidden rounded-lg shadow-lg object-cover ease-in-out duration-500 hover:scale-105">
              <a>
                  <!-- <img alt="${event.fields.name}" class="block h-auto w-full" src="${event.fields.image}"> -->
                  <img alt="Placeholder" class="block h-auto w-full" src="${event.fields.image}">
              </a>
              <header id="eventbtn-${event.pk}" class="items-center justify-between bg-white/75 leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                      ${event.fields.name}
                  </h1>
                  <p class="text-grey-darker text-sm">
                      ${event.fields.date}
                  </p>
              </header>
          </article>
          <!-- END Article -->
      </div>
      <!-- END Column -->`
      );
    if (role == 'admin') {
      $(`#eventbtn-${event.pk}`).append(
              `<div class="flex my-3 w-fit items-center m-auto space-x-3 mx-30 bg-indigo-600 px-3 py-1 text-white rounded-md cursor-pointer hover:shadow-lg">
                <button onclick="updateEvent(${event.pk})" type="button">
                  Update
                </button>
              </div>
              <div class="flex my-3 w-fit items-center m-auto space-x-3 mx-30 bg-indigo-600 px-3 py-1 text-white rounded-md cursor-pointer hover:shadow-lg">
                <button onclick="deleteEvent(${event.pk})" type="button">
                  Delete
                </button>
              </div>`);
    }
  }


  // Grabs all the Elements by their IDs which we had given them
  let foodModal = document.getElementById("modalfood");
  let openFoodModalBtn = document.getElementById("modalfood-open");
  let closeFoodModalBtn = document.getElementById("modalfood-close");

  let eventModal = document.getElementById("modalevent");
  let openEventModalBtn = document.getElementById("modalevent-open");
  let closeEventModalBtn = document.getElementById("modalevent-close");

  // We want the modal to open when the Open button is clicked
  openFoodModalBtn.onclick = function() {
      $("#modalfood").fadeIn();
  }
  // We want the modal to close when the Close button is clicked
  closeFoodModalBtn.onclick = function() {
      $("#modalfood").fadeOut();
  }

  // The modal will close when the user clicks anywhere outside the modal
  window.onclick = function(event) {
      if (event.target == eventModal) {
        closeEventModalBtn.click();
      }
      else if (event.target == foodModal) {
        closeFoodModalBtn.click();
      }
  }

  // We want the modal to open when the Open button is clicked
  openEventModalBtn.onclick = function() {
      $("#modalevent").fadeIn();
  }
  // We want the modal to close when the Close button is clicked
  closeEventModalBtn.onclick = function() {
      $("#modalevent").fadeOut();
  }

  const addFood = function() {
  var formData = $("#add-food").serialize();
  $.ajax({
        type: "POST",
        url: "/things-to-do/add/food",
        data: formData,
        dataType: "json",
        encode: true,
        }).done(function (data) {
          addFoodCard(data);
          $("#add-food").trigger("reset");
          closeFoodModalBtn.click();
      })
  }

  const addEvent = function() {
  var formData = $("#add-event").serialize();
  $.ajax({
        type: "POST",
        url: "/things-to-do/add/event",
        data: formData,
        dataType: "json",
        encode: true,
        }).done(function (data) {
          addEventCard(data);
          $("#add-event").trigger("reset");
          closeEventModalBtn.click();
      })
  }

  // function updateFood(pk) {
  //   $.ajax({
  //           type: "DELETE",
  //           headers: { "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value },
  //           url: `/things-to-do/delete/food/${pk}`,
  //           encode: true,
  //         }).done(function (data) {
  //             $(`#food-${pk}`).remove();
  //         })
  // }

  function deleteFood(pk) {
    $.ajax({
            type: "DELETE",
            headers: { "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value },
            url: `/things-to-do/delete/food/${pk}`,
            encode: true,
          }).done(function (data) {
              $(`#food-${pk}`).remove();
          })
  }

  function deleteEvent(pk) {
    $.ajax({
            type: "DELETE",
            headers: { "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value },
            url: `/things-to-do/delete/event/${pk}`,
            encode: true,
          }).done(function (data) {
              $(`#event-${pk}`).remove();
          })
  }
</script>

{% endblock content %}