{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Cultural Center</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
{% endblock meta %}

{% block content %}
<div class="px-4 my-10 flex justify-center text-center items-center">
  <div class="
        auto-cols-max
        md:flex
        md:columns-2
        justify-center
        items-center
        max-w-3xl
        mx-16
        space-x-6
        place-content-between
      ">
      <div class="h-full w-full">
        <h1 class="text-indigo-800 text-2xl lg:text-5xl font-bold text-center">Cultural Center</h1>
      </div>
      <div class="items-right">
        <img src="{% static 'assets/main-img.png' %}" alt="">
      </div>
  </div>
</div>
<div class="content-center text-center mb-10">
  <h3 class="text-xl text-center">Begin Your Journey in Indonesia</h3>
  <a href="/recommendation/" type="button" class="mt-5 w-fit space-x-3 py-3 px-6 m-auto bg-indigo-600 text-white rounded-lg  transition-all duration-400 transform hover:scale-105 cursor-pointer hover:shadow-lg">Here</a>
</div>

{% endblock content %}